@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap");

/* Common styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  font-family: "Nunito", sans-serif;
  font-weight: 400;
}

html {
  font-size: 62.5%;
}

.section-heading {
  font-size: 8rem;
  font-weight: 900;
  color: #fff;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0.5rem;
  text-shadow: 0.3rem 0.3rem 0.3rem #000;
}


/* -------------> NAVBAR <--------------- */
.navbar {
  width: 100%;
  height: 10rem;
  background-color: #111;
  position: fixed;
  top: -10rem;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;  
  box-shadow: .2rem .2rem .2rem #000;
  transition: top .4s;
}

.navbar.dropped {
  top: 0rem;
  transition: top .4s .1s;
}

.navbar-link {
  color: #aaa;
  margin: 0 4rem;
  font-size: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  opacity: 0;
  text-shadow: .2rem .2rem .2rem #000;
  transition: color .8s, opacity .1s;
}

.navbar-link.dropped {
  opacity: 1;
}

.navbar-link.dropped:nth-child(1) {
  transition: color .8s, opacity .4s .4s;
}
.navbar-link.dropped:nth-child(2) {
  transition: color .8s, opacity .4s .5s;
}
.navbar-link.dropped:nth-child(3) {
  transition: color .8s, opacity .4s .6s;
}
.navbar-link.dropped:nth-child(4) {
  transition: color .8s, opacity .4s .7s;
}
.navbar-link.dropped:nth-child(5) {
  transition: color .8s, opacity .4s .8s;
}

.navbar-link i {
  font-size: 3rem;
  margin-bottom: .5rem; 
}

.navbar-link span {
  font-size: 2.2rem;
}

.navbar-link:hover {
  color: #fff;
}

.menu {
  width: 3rem;
  height: 4rem;
  position: fixed;
  top: 1rem;
  left: 2.5rem;
  background-color: #000;
  cursor: pointer;
  box-shadow: 0.1rem 0.1rem 0.1rem #000,
  0.1rem 0.1rem 0.1rem #000;
  border-radius: 30rem 30rem 15rem 15rem;
  z-index: 99;
  transition: top .4s .1s;
}


.menu.dropped {
  top: 12rem;
  transition: top .4s;
}

.menu::before {
  content: "";
  width: 0.2rem;
  height: 12rem;
  background-color: #000;
  position: absolute;
  top: -12rem;
  left: calc(50% - 0.1rem);
  box-shadow: 0.1rem 0 0.1rem #000;
}


/* -------------> SECTION 1 <--------------- */
.section-1 {
  width: 100%;
  height: 100vh;
  background-color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 8rem;
}

.section-1-icons i {
  font-size: 35rem;
  color: rgba(238, 235, 47, 0.87);
  position: absolute;
  transform: translate(-50%, -50%) scale(0);
  text-shadow: 0.2rem 0.2rem 0.2rem #000;
  transition: transform 0.3s;
}

.section-1-icons i.show {
  transform: translate(-50%, -50%) scale(0.7);
  transition: transform 0.3s 0.3s;
}


/* -------------> SECTION 2 <--------------- */
.section-2 {
  width: 100%;
  height: 100vh;
  background-color: #222;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

}

.cards-container {
  display: flex;
  justify-content: space-evenly;
}


.card {
  width: 23rem;
  background-color: #a79a2d;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: 1rem 1rem 1rem #000;
  position: relative;
  transform: rotateY(20deg) skewX(-2deg);
  transition: transform 0.5s, box-shadow 0.5s;
}

.card:hover {
  transform: rotateY(20deg) skewX(-3deg) translateY(-2rem);
  box-shadow: 2rem 2rem 2rem #000;
}

.card::before {
  content: "";
  height: 100%;
  width: 1rem;
  background-color: #817824;
  position: absolute;
  top: 0;
  left: -1rem;
  transform: skewY(45deg);
  transform-origin: right;
  box-shadow: -0.1rem -0.1rem -0.1rem #000;
}

.card::after {
  content: "";
  width: 100%;
  height: 1rem;
  background-color: #8f8317;
  position: absolute;
  top: -1rem;
  left: 0;
  transform: skewX(45deg);
  transform-origin: bottom;
  box-shadow: -0.1rem -0.1rem -0.1rem #000;
}

.card-img {
  width: 100%;
}

.card-name {
  font-size: 3rem;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  color: rgb(46, 46, 46);
  margin: 2rem 0;
  text-shadow: 0.15rem 0.15rem 0.15rem #000;
}

.card-btn {
  width: 70%;
  background-color: #111;
  color: #888;
  border-radius: 5rem;
  font-weight: 800;
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
  text-transform: capitalize;
  border: none;
  padding: 0.5rem 0;
  cursor: pointer;
  box-shadow: -0.2rem -0.2rem -0.2rem #000;
}

/* -------------> SECTION 3 <--------------- */

.section-3 {
  background-color: #333;
  padding: 5rem 0;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 10rem;
}

.gallery-link {
  position: relative;
  margin: 4rem 1rem;
  transition: transform .8s;
}

.gallery-link:hover {
  transform: scale(1.1);
}


/* VERTICAL LINE */
.gallery-link::before {
  content: "";
  position: absolute;
  width: 0.2rem;
  height: 0;
  background-color: #fff;
  left: 80%;
  top: 2vw;
  transition: height 0.6s;
  z-index: 10;
}

.gallery-link:hover:before {
  height: 80%;
}

/* HORIZONTAL LINE */
.gallery-link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0.2rem;
  background-color: #fff;
  left: 2rem;
  top: 30%;
  transition: width 0.5s;
}

.gallery-link:hover::after {
  width: 90%;
}

.food-img {
  width: 24vw;
  height: 15vw;
  object-fit: cover;
  box-shadow: 
    0.2rem 0.2rem 0.1rem #e92929, 
    0.4rem 0.4rem 0.1rem #a2e946,
    0.6rem 0.6rem 0.1rem #297ce9, 
    0.8rem 0.8rem 0.1rem #e92999;
    transition: all .5s;
}

.gallery-link:hover .food-img {
  box-shadow: 
    0.8rem 0.8rem 0.1rem #e92929, 
    1.6rem 1.6rem 0.1rem #a2e946,
    2.4rem 2.4rem 0.1rem #297ce9, 
    3.2rem 3.2rem 0.1rem #e92999;
    filter: blur(.3rem);
    opacity: 0.7;
}

.food-name {
  position: absolute;
  top: 2rem;
  left: 3rem;
  font-size: 2rem;
  font-weight: 700;
  text-shadow: .1rem .1rem .2rem #000;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #fff;
  width: 0;
  overflow: hidden;
  transition: width 0.4s 0.1s;
}

.gallery-link:hover .food-name {
  width: 100%;
  transition: width 0.7s 0.1s;
}

.food-description {
  position: absolute;
  bottom: 1.5vw;
  left: 2rem;
  width: 70%;
  font-size: 0.8rem;
  font-weight: 300;
  text-shadow: .1rem .1rem .1rem #000;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  color: #fff;
  opacity: 0;
  visibility: hidden;
  transition: opacity .4s;
}

.gallery-link:hover .food-description {
  visibility: visible;
  opacity: 1;
  transition: opacity 1s .3s;
}


/* -------------> FOOTER <--------------- */
.footer {
  width: 100%;
  height: fit-content;
  background-color: #222;
  display: flex;
  flex-direction: column;
  position: relative;
}

.footer-box {
  display: flex;
  padding: 3rem 0;
  align-items: center;
  justify-content: space-between;
}

.footer-text {
  text-transform: uppercase;
}
  
.footer-heading {
  font-size: 4rem;
  font-weight: 900;
  color: #a79a2d;
}

.footer-paragraph {
  font-size: 1.5rem;
  color: #888;  
}

.signup-form {
  display: flex;
  align-items: center;
}

.signup-form-input {
  width: 35rem;
  height: 5rem;
  padding: 1rem;
  border: 0.2rem solid #a79a2d;
  font-size: 1.6rem;
  font-weight: 700;
  color: #8a7f1d;
}

.signup-form-input::placeholder {
  color:#a79a2d;
  opacity: 0.7;
}

.signup-form-btn {
  position: relative;
  left: -4.5rem;
  width: 4rem;
  height: 4rem;
  background-color: #333;
  color: #817824;
  border: none;
  font-size: 1.8rem;
  cursor: pointer;  
}

.copyright {
  bottom: 3rem;
  font-size: 1.5rem;
  font-weight: 200;
  letter-spacing: .1rem;
  color: #ddd;
  border-top: .1rem solid #888;
  padding: 2rem 0;
  width: 100%;
  text-align: center;
}
